<ion-view style="" title="OBP Mobile">
    <ion-content class="has-header" overflow-scroll="true" padding="true" style="background: url(img/9AcQKcXTVqYbL8fb1UaR_bkg.png) no-repeat center;">
        <img style="width: 100%; height: auto;" src="img/h1MsmM5BROi5yFwRBtwi_cahiers-de-labo.png" height="auto" width="100%">
        <a style="" class="button button-balanced button-block  icon-left ion-log-in" href="#/page2">Sign in</a>
        <a style="" class="button button-positive button-block  icon-left ion-android-add-circle" href="#/page3">Sign up</a>
    </ion-content>
</ion-view>