<ion-view style="" title="Register">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true" style="background: url(img/pu7o78RUTfW2nylV0DzX_bkg.png) no-repeat center;">
        <form style="" class="list">
            <ion-list style="">
                <label style="" class="item item-input">
                    <span class="input-label">Name</span>
                    <input placeholder="" type="text" ng-model="userData.name">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">Email</span>
                    <input placeholder="" type="text" ng-model="userData.email">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">Password</span>
                    <input placeholder="" type="text" ng-model="userData.password">
                </label>
            </ion-list>
            <a style="" class="button button-positive button-block " ng-click="register()">Sign up</a>
        </form>
    </ion-content>
</ion-view>
